<div id="student-review-section">
</div>

<div id="student-continue-learning-section">
</div>

<div id="student-subjects-section">
  <h1 class="text-lg font-semibold mb-2">my subjects</h1>
  <hr>
  <% for subject <- @student_subjects do %>
    <div class="">
      <%= subject.title %>
      <%= subject.published %>
    </div>
  <% end %>
</div>
