@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 2rem;
    text-align: center;
}

svg {
    margin-bottom: 1rem;
}
